body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.user-avatar {
	margin: 32px;
	width: 100px;
	height: auto;
}

.follower-avatar {
	width: 50px;
	height: auto;
}

a {
	color: blue;
	cursor: pointer;
}